* {
  margin: 0;
  padding: 0;
}

body {
  background: #060a1e;
  font-family: "Inter", Arial;
  color: white;
  margin-top: 150px;
}
body .span {
  color: blue;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: 800;
}
.navbar-brand:hover {
  color: #FFF;
}

.navbar {
  background: #060a1e !important;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}
.navbar .nav-link {
  font-weight: 800;
  font-family: "Inter", Arial;
  color: #F8F9FB;
  font-size: 16px;
  transition: all 0.5s;
}
.navbar .navbar-toggler {
  background: white;
  border-radius: 0;
}
.navbar .btn-agendamento {
  background-color: #1210c0;
  transition: all 0.5s;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
.navbar .btn-agendamento:hover {
  background-color: #3460e4;
}

.home .row img {
  display: none;
}
.home .row h3 {
  font-family: "JetBrains Mono", Arial;
  font-size: 14px;
  color: blue;
  margin: 0 30px 0 30px;
}
.home .row h1 {
  margin-top: 15px;
  font-size: 65px;
  color: white;
  font-weight: 800;
  margin: 0  30px 0 30px;
}
.home .row p {
  margin-top: 15px;
  font-family: "JetBrains Mono", Arial;
  font-size: 13px;
  color: white;
  margin: 10px 30px 10px 30px;
}
.home .row .btn-1 {
  border: 0;
  font-weight: 800;
  margin-top: 15px;
  margin-left: 25px;
  background-color: white;
  padding: 7px;
  width: 43%;
  border-radius: 0;
  transition: transform 0.3s ease;
}
.home .row .btn-1 a {
  text-decoration: none;
  color: black;
}
.home .row .btn-2 {
  border: 0;
  font-weight: 800;
  margin-top: 15px;
  background-color: #1b233d;
  padding: 8px;
  width: 43%;
  transition: transform 0.3s ease;
  margin-bottom: 100px;
  border-radius: 0;
}
.home .row .btn-2 a {
  text-decoration: none;
  color: white;
}
.home .segunda-coluna {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.home .segunda-coluna h2 {
  font-weight: 800;
  color: white;
  font-size: 40px;
  margin: 90px 30px 0 30px;
}
.home .segunda-coluna h3 {
  font-family: "Inter", Arial;
  color: blue;
  font-size: 40px;
  margin: 0  30px 0 30px;
}
.home .segunda-coluna p {
  font-family: "JetBrains Mono", Arial;
  color: white;
  font-size: 12px;
  margin: 10px 30px 10px 30px;
}
.home #terceira-coluna .row {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 80px 30px 60px 30px;
  background-color: #060a1e;
}
.home #terceira-coluna .row #coluna1, .home #terceira-coluna .row #coluna2, .home #terceira-coluna .row #coluna3 {
  padding: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.home #terceira-coluna .row #coluna1 h2, .home #terceira-coluna .row #coluna2 h2, .home #terceira-coluna .row #coluna3 h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 800;
  font-family: "Inter", Arial;
}
.home #terceira-coluna .row #coluna4 {
  padding: 10px;
}
.home #terceira-coluna .row #coluna4 h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 800;
  font-family: "Inter", Arial;
}
.home #terceira-coluna .row #coluna4 p {
  border-bottom: 0;
}
.home #terceira-coluna p {
  padding: 0px 0 35px 0px;
  font-size: 16px;
  color: #A6ACBE;
  font-family: "JetBrains Mono", Arial;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.home #terceira-coluna h6 {
  margin-top: 5px;
  color: #0032c8;
  font-size: 14px;
  margin-right: 250px;
  padding: 10px;
}
.home .quarta-coluna h2 {
  font-weight: 800;
  font-size: 37px;
  font-family: "Inter", Arial;
  margin: 150px 0px 0 0px;
}
.home .quarta-coluna p {
  color: blue;
  font-size: 30px;
  margin: 10px 30px 10px 30px;
}
.home .quarta-coluna .descricao {
  color: white;
  font-size: 13px;
}
.home .quarta-coluna .btn-1 {
  border: 0;
  border-radius: 5px;
  font-weight: 800;
  margin-top: 15px;
  margin-left: 25px;
  background-color: white;
  padding: 7px;
  width: 43%;
  transition: transform 0.3s ease;
}
.home .quarta-coluna .btn-1 a {
  text-decoration: none;
  color: black;
}
.home .quarta-coluna .btn-2 {
  border: 0;
  border-radius: 5px;
  font-weight: 800;
  margin-top: 15px;
  background-color: #1b233d;
  padding: 8px;
  width: 43%;
  transition: transform 0.3s ease;
  margin-bottom: 100px;
}
.home .quarta-coluna .btn-2 a {
  text-decoration: none;
  color: white;
}

.servicos h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0px 30px 0 30px;
}
.servicos p {
  font-size: 14px;
  color: #A6ACBE;
  font-family: "JetBrains Mono", Arial;
  margin: 10px 30px 10px 30px;
}
.servicos h3 {
  color: white;
  font-size: 35px;
  font-weight: 800;
  padding: 0 0px 15px 25px;
  margin: 0;
}
.servicos .card {
  background-color: #060a1e;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.servicos .row {
  row-gap: 60px;
  margin: 20px 30px 90px 30px;
  height: 480px;
}
.servicos .row .preco {
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.servicos .row .preco p {
  margin: 0;
  margin-left: 27px;
  font-size: 14px;
}
.servicos .row .preco h4 {
  font-size: 25px;
  color: blue;
  font-family: "Inter", Arial;
  font-weight: 800;
  margin-left: 30px;
  margin: 0;
}
.servicos .row .duracao {
  margin-top: 10px;
  font-size: 12px;
  color: #A6ACBE;
  margin-left: 27px;
}
.servicos .row .duracao .fa fa-clock {
  color: #A6ACBE;
}

.sobre .inicio {
  font-size: 14px;
  font-family: "JetBrains Mono", Arial;
  color: blue;
  margin: 0px 30px 10px 30px;
}
.sobre h2 {
  font-size: 40px;
  font-weight: 800;
  margin: 0 30px 0 30px;
}
.sobre p {
  font-size: 14px;
  font-family: "JetBrains Mono", Arial;
  color: white;
  margin: 10px 30px 10px 30px;
}
.sobre .img1, .sobre .img2 {
  display: none;
}
.sobre h4 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 30px 0 30px;
  padding: 30px 0 0 0;
  font-weight: 800;
}
.sobre h6 {
  font-size: 40px;
  font-weight: 800;
  padding: 100px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 36px;
  font-weight: 800;
  margin: 80px 30px 0 30px;
}
.sobre h3 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 50px 0 0 0;
  font-size: 36px;
  font-weight: 800;
  margin: 40px 30px 0 30px;
}
.sobre .button1 {
  border-radius: 0;
  border: 0;
  font-weight: 800;
  margin-top: 15px;
  margin-left: 100px;
  background-color: blue;
  padding: 7px;
  width: 43%;
  transition: transform 0.3s ease;
  margin-bottom: 100px;
}
.sobre .button1 a {
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-family: "Inter", Arial;
}

.contato h2 {
  font-size: 40px;
  font-weight: 800;
  margin: 0 30px 0 30px;
}
.contato p {
  font-size: 14px;
  font-family: "JetBrains Mono", Arial;
  color: white;
  margin: 10px 30px 10px 30px;
}
.contato form {
  font-family: "JetBrains Mono", Arial;
  margin: 0 20px 0 20px;
}
.contato form .form-control {
  background-color: #060a1e;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
.contato form .form-control:focus {
  background-color: #060a1e;
  color: white;
  border: 1px solid blue;
  box-shadow: 0 0 5px blue;
}
.contato form .form-control::placeholder {
  color: white !important;
  opacity: 1;
}
.contato button {
  background-color: blue;
  padding: 10px;
  width: 60%;
  transition: transform 0.3s ease;
  margin: 20px 0 70px 0;
  border-radius: 0px;
  font-family: "Inter", Arial;
  font-weight: 800;
}

.agendamento h2 {
  color: white;
  font-size: 40px;
  font-family: "Inter", Arial;
  font-weight: 800;
  margin: 0 30px 0 30px;
}
.agendamento h2 span {
  color: blue;
}
.agendamento p {
  font-family: "JetBrains Mono", Arial;
  font-size: 14px;
  margin: 10px 30px 10px 30px;
  color: white;
}
.agendamento .form-label {
  font-size: 14px;
  color: white;
  font-family: "JetBrains Mono", Arial;
}
.agendamento form {
  font-family: "JetBrains Mono", Arial;
  margin: 0 20px 0 20px;
}
.agendamento form .form-control, .agendamento form .form-select {
  background-color: #060a1e;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
.agendamento form .form-control:focus, .agendamento form .form-select:focus {
  background-color: #060a1e;
  color: white;
  border: 1px solid blue;
  box-shadow: 0 0 5px blue;
}
.agendamento form .form-control::placeholder, .agendamento form .form-select::placeholder {
  color: white !important;
  opacity: 1;
}
.agendamento h4 {
  font-family: "JetBrains Mono", Arial;
  font-size: 14px;
}
.agendamento .acrescimos {
  margin-top: 20px;
  display: block;
  gap: 30px;
}
.agendamento .acrescimos input {
  margin-bottom: 10px;
}
.agendamento h3 {
  font-size: 30px;
  color: white;
  font-weight: 800;
  text-align: center;
}
.agendamento #confirmacao {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 80px;
  margin-top: 20px;
  padding: 35px;
  box-shadow: 5px 5px 30px;
}
.agendamento #confirmacao button {
  border-radius: 0;
  margin-top: 20px;
  padding: 8px;
}
.agendamento #total {
  color: #A6ACBE;
  margin: 13px 0px 35px 0px;
}
.agendamento #btn-ag button {
  border-radius: 0;
  background-color: blue;
  padding: 2px;
  width: 60%;
  transition: transform 0.3s ease;
  margin: -20px 0 70px 0;
  border: none;
  color: white;
  font-weight: bold;
  font-family: "Inter", Arial;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #A6ACBE;
  padding: 20px;
  box-sizing: border-box;
  background: #060a1e;
}
.footer .row h2 {
  font-family: "Inter", Arial;
  font-size: 17px;
  font-weight: 900;
}
.footer .row p {
  font-family: "Inter", Arial;
  font-size: 14px;
}

@media (min-width: 769px) {
  body {
    margin-top: 140px;
  }

  .btn {
    background-color: #1210c0;
    transition: all 0.5s;
    padding: 12px;
    color: white;
  }

  .navbar .nav-link {
    margin-left: 5px;
    margin-right: 5px;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .home .row img {
    display: block;
    box-shadow: 2px 2px 40px rgba(79, 94, 142, 0.447);
  }
  .home .row h1 {
    font-size: 85px;
    color: white;
    font-weight: 800;
  }
  .home .row p {
    font-family: "JetBrains Mono", Arial;
    font-size: 18px;
    color: #A6ACBE;
  }
  .home .row .btn-1 {
    background-color: blue;
    padding: 7px;
    width: 25%;
    transition: transform 0.3s ease;
    border-radius: 0px;
  }
  .home .row .btn-1 a {
    text-decoration: none;
    color: white;
  }
  .home .row .btn-2 {
    background-color: #1b233d;
    padding: 9px;
    width: 26%;
    transition: transform 0.3s ease;
    margin-bottom: 100px;
    border-radius: 0px;
  }
  .home .row .btn-2 a {
    text-decoration: none;
    color: white;
  }
  .home .coluna2 {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .home .coluna2 h2 {
    margin-top: 90px;
    margin-left: 135px;
    font-size: 45px;
  }
  .home .coluna2 h3 {
    color: blue;
    font-size: 45px;
    font-family: "Inter", Arial;
    margin-left: 135px;
  }
  .home .coluna2 p {
    color: #A6ACBE;
    margin-left: 135px;
    font-size: 16px;
    border: 0;
  }
  .home #coluninha p {
    font-size: 16px;
    color: #A6ACBE;
    font-family: "JetBrains Mono", Arial;
    border: 0;
  }
  .home #coluninha h6 {
    margin-top: 5px;
    color: #0032c8;
    font-size: 14px;
    margin-right: 250px;
    padding: 10px;
  }
  .home #coluninha .row {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    margin: 80px 100px 60px 100px;
    background-color: #060a1e;
    height: 300px;
  }
  .home #coluninha .row #coluna1, .home #coluninha .row #coluna2, .home #coluninha .row #coluna3 {
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .home #coluninha .row #coluna1 h2, .home #coluninha .row #coluna2 h2, .home #coluninha .row #coluna3 h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    padding: 0 0px 15px 25px;
    font-family: "Inter", Arial;
  }
  .home #coluninha .row #coluna4 {
    padding: 10px;
  }
  .home #coluninha .row #coluna4 h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    padding: 0 0px 15px 25px;
    font-family: "Inter", Arial;
  }
  .home .coluna4 h2 {
    font-weight: 800;
    font-size: 45px;
    font-family: "Inter", Arial;
  }
  .home .coluna4 p {
    color: blue;
    font-size: 42px;
    font-family: "Inter", Arial;
  }
  .home .coluna4 .descricao {
    color: #A6ACBE;
    font-size: 16px;
  }
  .home .coluna4 .btn-1 {
    margin-left: 500px;
    background-color: blue;
    padding: 10px;
    width: 20%;
    transition: transform 0.3s ease;
  }
  .home .coluna4 .btn-1 a {
    text-decoration: none;
    color: white;
  }
  .home .coluna4 .btn-2 {
    background-color: #1b233d;
    padding: 12px;
    width: 20%;
    transition: transform 0.3s ease;
    margin-bottom: 90px;
  }
  .home .coluna4 .btn-2 a {
    text-decoration: none;
    color: white;
  }

  .servicos h1 {
    font-size: 70px;
    font-weight: 800;
  }

  .sobre .row .img1 {
    display: block;
    margin-top: 125px;
    width: 100%;
    box-shadow: 2px 2px 40px rgba(79, 94, 142, 0.447);
  }
  .sobre .row .inicio {
    color: blue;
    font-family: "JetBrains Mono", Arial;
    font-size: 14px;
  }
  .sobre .row h2 {
    font-size: 70px;
    font-weight: 800;
  }
  .sobre .row h2 span {
    color: blue;
  }
  .sobre .row p {
    font-size: 16px;
    font-family: "JetBrains Mono", Arial;
  }
  .sobre .row .img2 {
    display: block;
    width: 100%;
    margin-top: 200px;
    box-shadow: 2px 2px 40px rgba(79, 94, 142, 0.447);
  }
  .sobre .row .h6 {
    font-size: 10px;
    font-weight: 800;
    padding: 100px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 90px;
    font-size: 50px;
  }
  .sobre .row .h6 span {
    color: blue;
  }
  .sobre .row .h4 {
    border: 0;
    font-size: 22px;
    font-family: "Inter", Arial;
    font-weight: 800;
    color: white;
    margin: 50px 30px 5px 30px;
  }
  .sobre .row h4 {
    border: 0;
    font-size: 22px;
    font-family: "Inter", Arial;
    font-weight: 800;
    color: white;
    margin: 5px 30px 5px 30px;
  }
  .sobre .row p {
    font-size: 14px;
    font-family: "JetBrains Mono", Arial;
    color: #A6ACBE;
    margin: 5px 30px 5px 30px;
  }
  .sobre .row3 h3 {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 100px 0 0;
    margin-top: 90px;
    font-size: 50px;
    font-weight: 800;
  }
  .sobre .row3 p {
    font-size: 16px;
    font-family: "JetBrains Mono", Arial;
    color: #A6ACBE;
    margin: 10px 30px 10px 30px;
  }
  .sobre .row3 .button1 {
    background-color: blue;
    border: 0;
    text-align: center;
    margin-left: 530px;
    padding: 10px;
    width: 20%;
    transition: transform 0.3s ease;
    margin-bottom: 90px;
    border-radius: 0px;
  }
  .sobre .row3 .button1 a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-family: "Inter", Arial;
  }

  .contato h2 {
    font-size: 60px;
    font-weight: 800;
  }
  .contato h2 span {
    color: blue;
  }
  .contato p {
    font-size: 16px;
    font-family: "JetBrains Mono", Arial;
  }
  .contato form {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    margin: 20px 30px 90px 30px;
  }
  .contato .form-label {
    font-size: 16px;
    color: white;
    font-family: "JetBrains Mono", Arial;
  }
  .contato .form-control {
    background-color: #060a1e;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
  }
  .contato .form-control:focus {
    background-color: #060a1e;
    color: white;
    border: 1px solid blue;
    box-shadow: 0 0 5px blue;
  }
  .contato .form-control::placeholder {
    color: white !important;
    opacity: 1;
  }
  .contato button {
    background-color: blue;
    padding: 10px;
    width: 30%;
    transition: transform 0.3s ease;
    margin: 20px 0 20px 0;
    border-radius: 0px;
  }

  .agendamento h2 {
    color: white;
    font-size: 70px;
    font-family: "Inter", Arial;
    font-weight: 800;
  }
  .agendamento h2 span {
    color: blue;
  }
  .agendamento p {
    font-family: "JetBrains Mono", Arial;
    font-size: 16px;
    color: #A6ACBE;
    margin: 20px 30px 50px 30px;
  }
  .agendamento h4 {
    font-size: 16px;
  }
  .agendamento .acrescimos {
    margin-top: 20px;
    display: flex;
    gap: 40px;
  }
  .agendamento .acrescimos input {
    margin-bottom: 10px;
  }
  .agendamento #formAgendamento {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px 30px 90px 30px;
  }
  .agendamento #formAgendamento input {
    color: #060a1e;
  }
  .agendamento .form-label {
    font-size: 16px;
    color: white;
    font-family: "JetBrains Mono", Arial;
  }
  .agendamento h3 {
    font-size: 40px;
    color: white;
    font-weight: 800;
    text-align: center;
  }
  .agendamento #confirmacao {
    margin: 80px;
    padding: 30px;
  }
  .agendamento #confirmacao button {
    margin-left: 12px;
    border-radius: 0;
  }
  .agendamento #confirmacao #detalhes {
    font-family: "JetBrains Mono", Arial;
    font-size: 16px;
    color: #A6ACBE;
    margin: 0px;
  }
  .agendamento #total {
    color: #A6ACBE;
    margin: 40px 0 0 0;
    margin-bottom: 0px;
  }
  .agendamento #btn-ag button {
    border-radius: 0;
    background-color: blue;
    padding: 10px;
    width: 30%;
    transition: transform 0.3s ease;
    margin: 25px 0 50px 0;
  }

  .footer {
    padding: 20px 20px 0 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #A6ACBE;
    font-family: "Inter", Arial;
  }
  .footer .row h2 {
    font-size: 17px;
    font-weight: 800;
  }
  .footer .row p {
    font-family: "JetBrains Mono", Arial;
    font-size: 14px;
  }
  .footer .rodape {
    font-family: "JetBrains Mono", Arial;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 20px 0 0px 0;
    padding: 20px 0 20px 0;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
