$primary: #10131F;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $primary;
    margin-top: 150px;
    font-family: "Inter", Arial;
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 24px;
    font-weight: 800;
    .brito {
        color: blue;
    }
}

.navbar {
    background: $primary !important;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 20px;
    & .nav-link {
        font-weight: 800;
        font-family: "Inter", Arial;
        color: #F8F9FB;
        font-size: 16px;
        transition: all 0.5s;
    }
    & .navbar-toggler {
        background: white;
    }
}

.btn {
    background-color: #1210c0;
    transition: all 0.5s;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

 .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    color: #A6ACBE;
    padding: 20px;
    box-sizing: border-box;
    background: $primary;
    .row {
        h2 {
            font-family: "Inter", Arial;
            font-size: 17px;
            font-weight: 900;
        }
        p {
            font-family: "Inter", Arial;
            font-size: 14px;
        }
    }
}

.row {
    img {
        display: none;
    }
    h3 {
        font-family: "JetBrains Mono", Arial;
        font-size: 14px;
        color: blue;
        margin: 0  30px 0 30px;
    }
    h1 {
        margin-top: 15px;
        font-size: 65px;
        color: white;
        font-weight: 800;
        margin: 0  30px 0 27px;
        .brito {
            color: blue;
        }
    }
    p {
        margin-top: 15px;
        font-family: "JetBrains Mono", Arial;
        font-size: 13px;
        color: white;
        margin: 0  30px 0 30px;
    }
    .btn-1 {
        border: 0;
        font-weight: 800;
        margin-top: 15px;
        margin-left: 25px;
        background-color: white;
        padding: 7px;
        width: 43%;
        transition: transform 0.3s ease;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .btn-2 {
        border: 0;
        font-weight: 800;
        margin-top: 15px;
        background-color: #1b233d;
        padding: 8px;
        width: 43%;
        transition: transform 0.3s ease;
        margin-bottom: 100px;
        a {
            text-decoration: none;
            color: white;
        }
    }
}

.coluna2 {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    h2 {
        font-weight: 800;
        color: white;
        font-size: 36px;
        margin: 90px 30px 0 30px;
    }
    h3 {
        font-family: "Inter", Arial;
        color: blue;
        font-size: 36px;
        margin: 0  30px 0 30px;
    }
    p {
        font-family: "JetBrains Mono", Arial;
        color: white;
        font-size: 12px;
        margin: 0  30px 0 30px;

    }
}

.coluna3 {
    & &-h2 {
        color: white;
    }
    p {
        color: #A6ACBE;
    }
}

.coluna4 {
    h2 {
        font-weight: 800;
        font-size: 36px;
        font-family: "Inter", Arial;
        margin: 150px 0px 0 0px;
    }
    p {
        color: blue;
        font-size: 30px;
        margin: 0px 30px 0 30px;
    }
    .descricao {
        color: #A6ACBE;
        font-size: 14px;
    }
    .btn-1 {
        border: 0;
        font-weight: 800;
        margin-top: 15px;
        margin-left: 25px;
        background-color: white;
        padding: 7px;
        width: 43%;
        transition: transform 0.3s ease;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .btn-2 {
        border: 0;
        font-weight: 800;
        margin-top: 15px;
        background-color: #1b233d;
        padding: 8px;
        width: 43%;
        transition: transform 0.3s ease;
        margin-bottom: 100px;
        a {
            text-decoration: none;
            color: white;
        }
    }
}



@media (min-width: 769px ) {
    body {
        margin-top: 140px;
    }

    .btn {
        background-color: #1210c0;
        transition: all 0.5s;
        padding: 12px;
        color: rgb(255, 255, 255);
    }

    .navbar{
        & .nav-link {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .row {
        img {
            display: block;
        }
        h1 {
            font-size: 85px;
            color: white;
            font-weight: 800;
        }
        p {
            font-family: "JetBrains Mono", Arial;
            font-size: 18px;
            color: #A6ACBE;
        }
        .btn-1 {
            background-color: blue;
            padding: 5px;
            width: 25%;
            transition: transform 0.3s ease;
            a {
                text-decoration: none;
                color: white;
            }
        }
        .btn-2 {
            background-color: #1b233d;
            padding: 6px;
            width: 26%;
            transition: transform 0.3s ease;
            margin-bottom: 100px;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .coluna2 {
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        h2 {
            margin-top: 90px;
            margin-left: 130px;
            font-size: 45px;
        }
        h3 {
            color: blue;
            font-size: 45px;
            font-family: "Inter", Arial;
            margin-left: 130px;
        }
        p {
            color: #A6ACBE;
            margin-left: 130px;
            font-size: 16px;
        }
    }

    .coluna4 {
        h2 {
            font-weight: 800;
            font-size: 45px;
            font-family: "Inter", Arial;
        }
        p {
            color: blue;
            font-size: 42px;
            font-family: "Inter", Arial;
        }
        .descricao {
            color: #A6ACBE;
            font-size: 16px;
        }
        .btn-1 {
            margin-left: 450px;
            background-color: blue;
            padding: 10px;
            width: 20%;
            transition: transform 0.3s ease;
            a {
                text-decoration: none;
                color: white;
            }
        }
        .btn-2 {
            background-color: #1b233d;
            padding: 10px;
            width: 20%;
            transition: transform 0.3s ease;
            margin-bottom: 100px;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .servicos {
        h1 {
            font-size: 70px;
            font-weight: 800;
        }
        p {
            font-size: 16px;
            color: #A6ACBE;
            font-family: "JetBrains Mono", Arial;
        }
    }

    .sobre {
        .inicio {
            color: blue;
            font-family: "JetBrains Mono", Arial;
            font-size: 14px;
        }
        h2 {
            font-size: 70px;
            font-weight: 800;
            span {
                color: blue;
            }
        }
        p {
            font-size: 16px;
            font-family: "JetBrains Mono", Arial;
        }
        & &-h2 {
            padding: 100px 0 0;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            margin-top: 90px;
            font-size: 45px;
            font-weight: 800;
        }
        h3 {
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            padding: 100px 0 0;
            margin-top: 90px;
            font-size: 45px;
            font-weight: 800;
        }
        .button1 {
            background-color: blue;
            border: 0;
            text-align: center;
            margin-left: 530px;
            padding: 10px;
            width: 20%;
            transition: transform 0.3s ease;
            margin-bottom: 100px;
            a {
                text-decoration: none;
                color: white;
                font-weight: 800;
                font-family: "Inter", Arial;
            }
        }
    }

    .contato {
        h2 {
            font-size: 60px;
            font-weight: 800;
            span {
                color: blue;
            }
        }
        p {
            font-size: 16px;
            font-family: "JetBrains Mono", Arial;
        }
    }

    .agendamento {
        h2 {
            color: white;
            font-size: 70px;
            font-family: "Inter", Arial;
            font-weight: 800;
            span {
                color: blue;
            }
        }
        p {
            font-family: "JetBrains Mono", Arial;
            font-size: 16px;
            margin-bottom: 50px;
            color: #A6ACBE;
        }
        h4 {
            font-size: 16px;
        }
        .acrescimos {
            margin-top: 20px;
            display: flex;
            gap: 40px;
            input {
                margin-bottom: 10px;
            }
        }
        h3 {
            font-size: 40px;
            margin-top: 130px;
            color: rgb(92, 160, 255);
            font-weight: 800;
            text-align: center;
        }
        #confirmacao {
            margin-bottom: 130px;
        }
        #total {
            color: #A6ACBE;
            margin: 40px 0 0 0;
            margin-bottom: 0px;
        }
        #btn-ag {
            button {
                background-color: blue;
                padding: 10px;
                width: 30%;
                transition: transform 0.3s ease;
                margin: -20px 0 70px 0;
            }
        }
    }

    .footer {
        padding: 20px 20px 0 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        color: #A6ACBE;
        font-family: "Inter", Arial;
        .row {
            h2 {
                font-size: 17px;
                font-weight: 800;
            }
            p {
                font-size: 14px;
            }
        }
        .rodape {
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            text-align: center;
            margin: 20px 0 0px 0;
            padding: 20px 0 20px 0;
            font-size: 14px;
        }
    }
}